// Define variables for your color scheme

// For example:
$fun-green: #186049;
$eden: #247158;
$tradewind: #6AB29B;
$dawn-pink: #E4D5C7;
$almond-frost: #fd5c63;
$gray: #0E0000;
$light-gray: #F4F4F4;
$red: red;
$black : black;
