<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">
      <h2>Indiquez aux voyageurs quels sont les équipements de votre logement</h2>
      <p>Vous pourrez ajouter des équipements une fois votre annonce publiée.
      </p>
    </div>
    <div class="row justify-content-center">
      <div class="col-6">
        <div class="form-switch">
        <%= f.input :equipments,
            collection: Equipment.all,
            as: :check_boxes,
            input_html: { multiple: true } %>
                
        </div>
      </div>
    </div>
  </div>
</div>