<div class="container">
  <div class="row">
    <div class="col-4">
      <h4>Etape 2</h4>
      <h2>Faites sortir votre annonce du lot</h2>
      <p>Au cours de cette étape, vous pourrez ajouter certains des équipements proposés dans votre logement et au moins 5 photos. Vous pourrez ensuite ajouter un titre et une description.
      </p>
    </div>
  </div>
</div>