<div class="container">
  <div class="row justify-content-center align-items-center" style="height: 80vh;">
    <div class="col-6">
      <h2 class="fw-medium fs-1">Où est situé votre logement ?</h2>
      <p class="text-secondary fs-5">Votre adresse est uniquement communiquée aux voyageurs une fois leur réservation effectuée.</p>
      <%= simple_form_for @cottage, html: { class: "h-100"} do |f| %>
        <div class="form">
          <%= f.input :address,
            required: true,
            autofocus: true, 
            label: false,
            input_html: { autocomplete: "Address" }
          %>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-10"></div>
    <div class="col-2">
      <%= f.submit "Create", class: "btn bg-black text-white rounded-4 btn w-100 mt-4" %>
    </div>
    <% end %>
  </div>
</div>
