<div class="footer border-top position-fixed w-100 bg-white bottom-0">
  <div class="container-fluid py-2">
    <div class="row">
      <div class="d-flex justify-content-between">
        <div class="first d-flex">
          <p class="px-2 mb-0">© 2023 CottageView, Inc.</p>
          <p class="px-2 mb-0">Confidentialité</p>
          <p class="px-2 mb-0">Conditions générales</p>
          <p class="px-2 mb-0">Plan du site</p>
          <p class="px-2 mb-0">Fonctionnement du site</p>
          <p class="px-2 mb-0">Infos sur l'entreprise</p>
        </div>
        <div class="second d-flex">
          <p class="px-2 mb-0"><i class="fa-solid fa-globe" style="color: #000000;"></i> Français (FR)</p>
          <p class="px-2 mb-0"><i class="fa-solid fa-euro-sign" style="color: #000000;"></i> EUR</p>
          <p class="px-2 mb-0">Assistance et ressourcess</p>
        </div>
      </div>
    </div>
  </div>
</div>