<div class="container">
  <div class="row justify-content-center align-items-center" style="height: 80vh;">
    <div class="col-6">
      <h2 class="fw-medium fs-1">Créez votre description</h2>
      <p class="text-secondary fs-5">Les titres courts sont généralement les plus efficaces. Ne vous inquiétez pas, vous pourrez toujours le modifier plus tard.</p>
      <%= simple_form_for @cottage, url: wizard_path, html: { class: "h-100"} do |f| %>
        <div class="form">
          <%= f.input :description,
            as: :text,
            required: true,
            label: false,
            input_html: { maxlength: 500, minlength: 60, rows: 10, class: "form-control rounded" }
          %>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-10"></div>
    <div class="col-2">
      <%= f.submit "Créez", class: "btn bg-black text-white rounded-4 btn w-100 mt-4" %>
    </div>
    <% end %>
  </div>
</div>