<div class="container">
  <div class="row justify-content-center align-items-center" style="height: 80vh;">
    <div class="col-6">
      <h2 class="fw-medium fs-1">Ajoutez quelques photos de votre appartement</h2>
      <p class="text-secondary fs-5">Pour commencer, vous aurez besoin de 5 photos. Vous pourrez en ajouter d'autres ou faire des modifications plus tard..</p>
      <%= simple_form_for @cottage, url: wizard_path, html: { class: "h-100"} do |f| %>
        <div class="form py-5 px-5 text-center" style="border: 1px dashed rgb(176, 176, 176);">
          <svg xmlns="http://www.w3.org/2000/svg" height="4em" viewBox="0 0 576 512"><path d="M160 80H512c8.8 0 16 7.2 16 16V320c0 8.8-7.2 16-16 16H490.8L388.1 178.9c-4.4-6.8-12-10.9-20.1-10.9s-15.7 4.1-20.1 10.9l-52.2 79.8-12.4-16.9c-4.5-6.2-11.7-9.8-19.4-9.8s-14.8 3.6-19.4 9.8L175.6 336H160c-8.8 0-16-7.2-16-16V96c0-8.8 7.2-16 16-16zM96 96V320c0 35.3 28.7 64 64 64H512c35.3 0 64-28.7 64-64V96c0-35.3-28.7-64-64-64H160c-35.3 0-64 28.7-64 64zM48 120c0-13.3-10.7-24-24-24S0 106.7 0 120V344c0 75.1 60.9 136 136 136H456c13.3 0 24-10.7 24-24s-10.7-24-24-24H136c-48.6 0-88-39.4-88-88V120zm208 24a32 32 0 1 0 -64 0 32 32 0 1 0 64 0z"/></svg>
          <h3 class="mt-3">Faites glisser vos photos ici</h3>
          <p>Choisissez au moins 5 photos</p>
          <%= f.input :photos, as: :file, label: false, input_html: { multiple: true, class: "mt-3" } %>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-10"></div>
    <div class="col-2">
      <%= f.submit "Continue", class: "btn bg-black text-white rounded-4 btn w-100 mt-4" %>

    </div>
    <% end %>
  </div>
</div>