<body style="background-image: url('<%= cl_image_path "background", quality: "auto" %>'); background-size: 100%; background-repeat: no-repeat">
<%= cl_image_path "background" %>
  <h1>Pages#home</h1>
  <p>Find me in app/views/pages/home.html.erb</p>
</body>






